version: '3.9'
services:
  postgresql:
    image: {{ postgres_image }}
    container_name: bitbucket-postgresql
    ports:
     - 5432:5432
    environment:
     - POSTGRES_DB={{ db_name }}
     - POSTGRES_USER={{ db_user }}
     - POSTGRES_PASSWORD={{ db_password }}
    volumes:
     - {{ postgresql_data_dir }}:/var/lib/postgresql/data
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
    networks:
      - bitbucket-net

  bitbucket:
    image: {{ bitbucket_image }}
    container_name: bitbucket
    ports:
     - "7990:7990"    # Web UI
     - "7999:7999"    # Git SSH access
    depends_on:
     - postgresql
    links:
     - postgresql
    volumes:
     - {{ bitbucket_data_dir }}:/var/atlassian/application-data/bitbucket
    environment:
     - DB_TYPE=postgresql
     - DB_USER={{ db_user }}
     - DB_PASSWORD={{ db_password }}
     - DB_HOST={{ db_host }}
     - DB_PORT={{ db_port }}
     - DB_NAME={{ db_name }}
     - JDBC_DRIVER=org.postgresql.Driver
     - JDBC_URL=jdbc:postgresql://postgresql:5432/bitbucket
     - JDBC_USER={{ db_user }}
     - JDBC_PASSWORD={{ db_user }}
     - JVM_MINIMUM_MEMORY=512m
     - JVM_MAXIMUM_MEMORY=1048m
     - BITBUCKET_EMBEDDED_SEARCH=false
     - PLUGIN_MESH_ENABLED=false
    restart: always
    deploy:
      resources:
        limits:
          memory: 1g
    networks:
      - bitbucket-net

networks:
  bitbucket-net:
    driver: bridge
